*.o
*.la
*.py[co]
*.swp
*.patch
*.orig
*.rej
[Mm]akefile
[Mm]akefile.in
autom4te.cache
configure
config.*
depcomp
install-sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
ltmain.sh
missing
py-compile
stamp-h1
aclocal.m4
build
